<p id="notice"><%= notice %></p>

<h1>Songs</h1>
<% if user_signed_in? %>

  <ul>
    <li><%= link_to "editar usario", edit_user_registration_path %></li>
    <li><%= link_to "salir", destroy_user_session_path, method: :delete %></li>
  </ul>

<% else %>

  <ul>
    <li><%= link_to "Ingresar", new_user_session_path %></li>
    <li><%= link_to "Registrarse", new_user_registration_path %></li>
  </ul>

<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.duration %></td>
        <td><%= song.genre %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
